.main {
    margin-top: -10px;
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    min-height: 100px;
    height: auto;
}

.navbar-item {
    width: 13%;
    height: 101%;
    position: fixed;
    vertical-align: top;
}

.content-item {
    vertical-align: top;
    display: inline-block;
    width: 80%;
    margin-left: 18%;
}