.main {
    margin-top: -20px;
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    min-height: 100px;
    height: auto;
}

.navbar-item {
    width: 16%;
    background-color: aquamarine;
    position: fixed;
    height: 100%;
    vertical-align: top;
}

.content-item {
    vertical-align: top;
    background-color: lightcoral;
    margin-left: 20%;
    width: 80%;
}