<div class="sidebar">
<!---   Side Bar    -->
    <nav class="navbar">
        <!-- Logo -->
        <div class="container-button">
            <a href="home">
              <div class="button">
                  <h2>🍿</h2>
              </div>
            </a>
        </div>
        
        <!-- Home -->
        <div class="container-button">
          <a href="home">
            <div class="button">
              <h2>Home</h2>
            </div>
          </a>
        </div>
        
        <!-- Notifications -->
        <div class="container-button">
          <a href="notifications">
            <div class="button">
              <h2>Notifications</h2>
            </div>
          </a>
        </div>
        
        <!-- Bookmarked -->
        <div class="container-button">
          <a href="bookmarked">
            <div class="button">
              <h2>Bookmarked</h2>
            </div>
          </a>
        </div>
        
        <!-- Premium -->
        <div class="container-button">
          <a href="premium">
            <div class="button">
              <h2>Premium</h2>
            </div>
          </a>
        </div>
        
        <!-- Profile -->
        <div class="container-button">
          <a href="">
            <div class="button">
              <h2>Profile</h2>
            </div>
          </a>
        </div>
        
        <!-- Write Tweet -->
        <div class="container-button">
          <a href="">
            <div class="button">
              <h2>Pop</h2>
            </div>
          </a>
        </div>
  
    </nav>
<!-- Profile -->
    <div class="profile">
        <!-- Profile pic here -->
        <p>profile name</p>
        <p>real username</p>

    </div>
</div>
