<div class="sidebar">
<!---   Side Bar    -->
    <nav class="navbar">
        <!--Logo-->
        <a href="home"><h2>Logo</h2></a>
            <!--Home-->
        <a href="home"><h2>Home</h2></a>
            <!--Notifications-->
        <a href="notifications"><h2>Notifications</h2></a>
            <!--Bookmarked-->
        <a href="bookmarked"><h2>Bookmarked</h2></a>
            <!--Premium-->
        <a href="premium"><h2>Premium</h2></a>
            <!--Profile-->
        <a href=""><h2>Profile</h2></a>
             <!--Write Tweet-->
        <a href=""><h2>Pop</h2></a>
    </nav>
<!-- Profile -->
    <div class="profile">
        <!-- Profile pic here -->
        <p>profile name</p>
        <p>real username</p>

    </div>
</div>
